$color: (
    texto: #203855,
    menu-p-2: rgb(224, 223, 223),
    menu-int: whitesmoke,
    menu-int-hover: rgb(211, 203, 203),
    body: gainsboro

);

$tipografia:(
    menu: 'PT Sans Narrow', sans-serif,
    general: 'Calibri', sans-serif,

);
